@mixin box-shadow() {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

@mixin flex-row-center() {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0 auto;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font: 100% verdana, arial, tahoma, sans-serif;
    background-color: white;
    max-width: 1400px;

    h1 {
        font-size: 2.5rem;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }

    h5 {
        font-size: 1.2rem;
    }

    p {
        text-align: left;
        margin: 1rem;
        color: dimgray;
    }

    input {
        border: 0;
        outline: 0;

        &:focus {
            outline: none !important;
        }
    }

    .topnav {
        display: flex;
        flex-direction: row;
        max-width: 1400px;
        position: fixed;
        width: 100%;
        background-image: url("../assets/imagem1.jpg");
        background-position: bottom;
        border-bottom: 1px solid white;
        z-index: 10;

        a {
            white-space: nowrap;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            margin: 0;
            text-decoration: none;
            font-size: 17px;
            background-color: rgba(0, 0, 0, 0.7);

            &.logo {
                font-weight: bold;
                font-size: 1.3em;
                cursor: default;
                pointer-events: none;
            }

            &:hover {
                color: gray;
            }

            &.icon {
                display: none;

                i {
                    font-size: 24px;
                }
            }
            &:active {
                background-color: rgba(0, 0, 0, 0.7);
            }
            &::after {
                color: white;
            }
        }
    }

    section {
        height: max-content;
        padding: 2% 10% 5% 10%;

        .section-title {
            border-radius: 5px;
            margin-bottom: 3em;
            @include flex-row-center();
        }

        .flex {
            @include flex-row-center();
            text-align: center;
        }

        &.presentation {
            padding: 0;
            background-image: url("../assets/imagem1.jpg");
            background-position: bottom;

            .presentation-container {
                @include flex-row-center();
                justify-content: space-evenly;
                padding: 5em;
                background-color: rgba(0, 0, 0, 0.551);

                h1,
                h5,
                p {
                    color: white;
                    text-align: center;
                }
            }
        }

        &.perfil {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            div {
                width: 30%;

                h1 {
                    margin: 16px;
                }

                &.perfil-img {
                    height: 299px;
                    width: 215px;

                    img {
                        width: 100%;
                        height: auto;
                        border-radius: 10%;
                    }
                }

                &.perfil-text {
                    width: 70%;

                    .perfil-social {
                        width: 100%;
                        text-align: left;

                        a > img {
                            height: 2em;
                            margin: 16px;
                        }
                    }
                }
            }
        }

        &.services {
            background-color: whitesmoke;

            .flex {
                .card {
                    width: 17em;
                    margin: auto;

                    .card-img {
                        filter: grayscale(100);
                        margin: 10px;
                        width: 5em;
                        height: 5em;
                    }

                    p {
                        text-align: center;
                    }
                }
            }
        }

        &.projects {
            .projects-cards {
                @include flex-row-center();

                .project-card {
                    @include box-shadow();
                    position: relative;
                    margin: 1em;
                    width: 30em;
                    height: auto;

                    img {
                        width: 100%;
                        height: auto;
                    }

                    .project-info {
                        display: flex;
                        flex-direction: column;
                        padding: 10px;

                        p {
                            color: white;
                        }

                        .btn-flex-container {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-evenly;
                            width: 100%;
                        }

                        &.web {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            background-color: rgba(0, 0, 0, 0.7);
                            opacity: 0;
                            visibility: hidden;
                            transition: opacity 0.2s, visibility 0.2s;
                            color: #fff;
                        }

                        .btn {
                            box-shadow: inset 0px 1px 0px 0px #ffffff;
                            background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
                            border-radius: 6px;
                            border: 1px solid #dcdcdc;
                            display: inline-block;
                            cursor: pointer;
                            color: #666666;
                            font-family: Arial;
                            font-size: 15px;
                            font-weight: bold;
                            padding: 6px 24px;
                            text-decoration: none;
                            text-shadow: 0px 1px 0px #ffffff;
                            transition: 0.3s ease-in-out;
                            background-color: #f9f9f9;
                            margin: 0;

                            &:hover {
                                background: linear-gradient(to bottom, #c6c5c5 5%, #e6e6e6 100%);
                                background-color: #e9e9e9;
                            }

                            &:active {
                                background: linear-gradient(to bottom, #bab9b9 5%, #858585 100%);
                                background-color: #414040;
                            }
                        }
                    }

                    &:hover .project-info {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }

        &.tecnologies {
            background-color: whitesmoke;

            .item-box {
                width: 7em;
                margin: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                img {
                    width: 3em;
                    height: 3em;
                }

                p {
                    text-align: center;
                    font-size: 0.9rem;
                    color: black;
                    font-weight: bold;
                }
            }
        }

        &.contact {
            display: flex;
            flex-direction: column;

            .section-content {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;

                .phone-email {
                    margin: 1em;
                    width: auto;

                    ul {
                        list-style-type: none;
                        li {
                            display: flex;
                            flex-direction: row;
                            height: 3em;
                            align-items: center;

                            img {
                                height: 2em;
                                margin: 0;
                            }
                        }
                    }
                }

                form {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    font-family: inherit;
                    margin: 1em;
                    width: 50%;

                    textarea {
                        width: 100%;
                        padding: 10px;
                        margin: 10px;
                        border: 1px solid rgb(201, 200, 200);
                        font-size: 16px;
                    }

                    div {
                        margin: 0;
                        padding: 10px;

                        label {
                            color: dimgray;
                        }

                        input {
                            border-bottom: 1px solid rgb(201, 200, 200);
                            width: 250px;
                            font-size: 16px;
                        }
                    }

                    .btn {
                        display: inline-block;
                        cursor: pointer;
                        font-family: Arial;
                        font-size: 15px;
                        font-weight: bold;
                        padding: 6px 24px;
                        text-decoration: none;
                        transition: 0.3s ease-in-out;
                        margin: 10px;
                        background-color: black;
                        color: white;
                        border: none;

                        &:hover {
                            background-color: rgb(20, 20, 20);
                        }
                    }
                }
            }
        }
    }

    footer {
        padding: 1.5em;
        div a {
            color: black;
        }
    }
}

@media screen and (max-width: 840px) {
    body {
        .topnav {
            display: flex;
            flex-direction: column;
            justify-content: left;
            width: 100%;
            a {
                margin: 0;
                text-align: left;

                &:not(:first-child) {
                    display: none;
                }

                &.icon {
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }

            &.responsive {
                a {
                    display: block;

                    &.icon {
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                }
            }
        }

        section {
            &.perfil {
                div {
                    &.perfil-text {
                        width: 100%;
                        text-align: center;
                    }
                }
            }

            &.projects {
                .projects-cards {
                    .project-card {
                        .project-info {
                            p {
                                color: dimgray;
                            }
                            .btn-flex-container {
                                .github {
                                    &:active {
                                        background: linear-gradient(to bottom, #bab9b9 5%, #858585 100%);
                                        background-color: #414040;
                                    }
                                }
                            }

                            &.web {
                                position: initial;
                                background-color: white;
                                opacity: initial;
                                visibility: initial;
                                color: black;
                            }
                        }
                    }
                }
            }
            &.contact {
                .section-content {
                    form {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    body {
        p, label {
            font-size: 12px;
        }
        h1 {
            font-size: 2rem;
        }
        h5 {
            font-size: 1rem;
        }

        section {
            padding: 3%;

            &.contact {
                .section-content {

                    .phone-email {
    
                        ul {
                            li {
                                height: 2em;
    
                                img {
                                    height: 1em;
                                    margin: 0;
                                }
                            }
                        }
                    }
                    form {
                        div {
                            input {
                                width: initial;
                            }
                        }

                        textarea {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}
