* {
  margin: 0 auto;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-top: 3em;
  font: 100% verdana, arial, tahoma, sans-serif;
  background-color: white;
}
body h1 {
  font-size: 2.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
}
body p {
  text-align: left;
  margin: 1em;
  color: dimgray;
}
body input {
  border: 0;
  outline: 0;
}
body input:focus {
  outline: none !important;
}
body .navbar-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 3em;
  width: 100%;
  align-content: center;
  background-image: url("../assets/imagem1.jpg");
  background-position: bottom;
  border-bottom: 1px solid white;
  z-index: 10;
}
body .navbar-container .title-container {
  width: 30%;
  background-color: rgba(0, 0, 0, 0.551);
  display: flex;
  text-align: center;
  align-items: center;
}
body .navbar-container .title-container .title {
  color: white;
  align-self: center;
}
body .navbar-container .navbar {
  width: 70%;
  background-color: rgba(0, 0, 0, 0.551);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body .navbar-container .navbar a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  align-self: center;
}
body .navbar-container .navbar a:hover {
  color: gray;
}
body section {
  height: max-content;
  padding: 5% 10%;
}
body section .section-title {
  border-radius: 5px;
  margin-bottom: 5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body section .flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body section.presentation {
  padding: 0;
  background-image: url("../assets/imagem1.jpg");
  background-position: bottom;
}
body section.presentation .presentation-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 5em;
  background-color: rgba(0, 0, 0, 0.551);
}
body section.presentation .presentation-container h1,
body section.presentation .presentation-container h5,
body section.presentation .presentation-container p {
  color: white;
  text-align: center;
}
body section.perfil {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
body section.perfil div {
  width: 50%;
}
body section.perfil div.perfil-img {
  height: 299px;
  width: 215px;
}
body section.perfil div.perfil-img img {
  width: 100%;
  height: auto;
  border-radius: 10%;
}
body section.services {
  background-color: whitesmoke;
}
body section.services .flex .card {
  padding: 1em;
  width: 17em;
}
body section.services .flex .card .card-img {
  filter: grayscale(100);
  margin: 10px;
  width: 5em;
  height: 5em;
}
body section.projects .projects-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body section.projects .projects-cards .project-card {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  position: relative;
  margin: 5px;
  width: 25em;
  height: auto;
}
body section.projects .projects-cards .project-card img {
  width: 100%;
  height: 75%;
}
body section.projects .projects-cards .project-card .project-name {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}
body section.projects .projects-cards .project-card:hover .project-name {
  visibility: visible;
  opacity: 1;
}
body section.tecnologies {
  background-color: whitesmoke;
}
body section.tecnologies .item-box {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
body section.tecnologies .item-box img {
  width: 3em;
  height: 3em;
}
body section.tecnologies .item-box p {
  padding: 0.2em;
  font-size: 0.9rem;
  background-color: #000000;
  color: white;
  border-radius: 0.3em;
}

/*# sourceMappingURL=style.css.map */
